Repository TiruYasha/dndapp: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-1.yml, azure-pipelines.yml

azure-pipelines-1.yml:

# ASP.NET Core (.NET Framework)
# Build and test ASP.NET Core projects targeting the full .NET Framework.
# Add steps that publish symbols, save build artifacts, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/dotnet-core

trigger:
  branches:
    include:
      - main
  paths:
    include:
      - backend

variables:
  solution: '**/*.sln'
  buildPlatform: 'Any CPU'
  buildConfiguration: 'Release'

stages:
- stage: Build
  displayName: Build image
  jobs:  
  - job: Build
    displayName: Build
    pool:
      vmImage: 'ubuntu-latest'
    steps:
        - task: UseDotNet@2
          inputs:
            packageType: 'sdk'
            version: '5.0.x'
        - task: DotNetCoreCLI@2
          inputs:
            command: 'build'
            projects: 'backend/DndBackend.sln'

azure-pipelines.yml:

# Docker
# Build a Docker image 
# https://docs.microsoft.com/azure/devops/pipelines/languages/docker

trigger:
  branches:
    include:
      - main
  paths:
    include:
      - pixiprototype

resources:
- repo: self

variables:
  tag: '$(Build.BuildId)'

stages:
- stage: Build
  displayName: Build image
  jobs:  
  - job: Build
    displayName: Build
    pool:
      vmImage: 'ubuntu-latest'
    steps:
        - task: Npm@1
          inputs:
            command: 'install'
            workingDir: 'pixiprototype'
        - task: Npm@1
          inputs:
            command: 'custom'
            workingDir: 'pixiprototype'
            customCommand: 'run build:prod --prod'
        - task: PublishBuildArtifacts@1
          inputs:
            PathtoPublish: 'pixiprototype/dist'

            ArtifactName: 'pixiprototype'
            publishLocation: 'Container'
- stage: deploy_dev
  displayName: Deploy to development
  dependsOn:
    - build
  variables:
  - group: DEV
  jobs:
    - job: waitForValidation
      displayName: Wait for external validation  
      pool: server    
      timeoutInMinutes: 4320 # job times out in 3 days
      steps:   
        - task: ManualValidation@0
          timeoutInMinutes: 1440 # task times out in 1 day
          inputs:
            notifyUsers: 'renebuunk1996@gmail.com'
            instructions: 'Please validate the build configuration and resume'
    - deployment: DeployWeb
      environment: DEV
      strategy:
        runOnce:
          deploy:
            steps:
              - script: echo Hello, development world!
           
              - task: replacetokens@3
                inputs:
                  targetFiles: '../pixiprototype/**/main*.js'
                  encoding: 'auto'
                  writeBOM: true
                  verbosity: 'detailed'
                  actionOnMissing: 'warn'
                  keepToken: false
                  tokenPrefix: '#{'
                  tokenSuffix: '}#'
                  useLegacyPattern: false
                  enableTelemetry: true
              - task: CopyFilesOverSSH@0
                inputs:
                  sshEndpoint: 'DigitalOceanDndApp'
                  sourceFolder: '../pixiprototype/pixiprototype'
                  contents: '**'
                  targetFolder: '/home/dndapp/www'
                  readyTimeout: '20000'

Update azure-pipelines-1.yml for Azure Pipelines
  azure-pipelines-1.yml
Due: none

Update azure-pipelines.yml for Azure Pipelines
  azure-pipelines.yml
Due: none

connectionstring token
  backend/GameServer/Startup.cs
  backend/GameServer/appsettings.json
Due: azure-pipelines-1.yml

cors policy
  backend/GameServer/Startup.cs
  pixiprototype/src/environments/environment.ts
Due: azure-pipelines-1.yml, azure-pipelines.yml

seeding db
  backend/GameServer/Startup.cs
Due: azure-pipelines-1.yml

cors
  backend/GameServer/Startup.cs
Due: azure-pipelines-1.yml

refactor pixi event manager
  pixiprototype/package-lock.json
  pixiprototype/package.json
  pixiprototype/src/app/_services/event.service.ts
  pixiprototype/src/app/_services/tool.service.spec.ts
  pixiprototype/src/app/_services/tool.service.ts
  pixiprototype/src/app/pixi/pixi-event-manager/pixi-action-manager.ts
  pixiprototype/src/app/pixi/pixi-event-manager/pixi-action.model.ts
  pixiprototype/src/app/pixi/pixi-event-manager/pixi-events.model.ts
  pixiprototype/src/app/pixi/pixi-objects/clickable-pixi-object.model.ts
  pixiprototype/src/app/pixi/pixi-structure/playground.model.ts
  pixiprototype/src/app/pixi/tools/move-tool/move-tool.ts
Due: azure-pipelines.yml

event manager and signalr hub setup
  backend/GameServer/Dockerfile
  backend/docker-compose.yml
  pixiprototype/src/app/_helpers/hub.spec.ts
  pixiprototype/src/app/_helpers/hub.ts
  pixiprototype/src/app/_models/hub/method.model.ts
  pixiprototype/src/app/_services/event.service.ts
  pixiprototype/src/app/_services/hub.service.ts
  pixiprototype/src/app/_services/object.service.spec.ts
  pixiprototype/src/app/_services/object.service.ts
  pixiprototype/src/app/pixi/pixi-event-manager/pixi-action-manager.ts
  pixiprototype/src/app/pixi/pixi-event-manager/pixi-action.model.ts
  pixiprototype/src/app/pixi/pixi-event-manager/pixi-events.model.ts
  pixiprototype/src/app/pixi/pixi-objects/clickable-pixi-object.model.ts
  pixiprototype/src/app/pixi/pixi-structure/playground.model.ts
  pixiprototype/src/app/pixi/tools/move-tool/move-tool.ts
  pixiprototype/src/app/playground/event-logger/event-logger.component.html
  pixiprototype/src/app/playground/event-logger/event-logger.component.scss
  pixiprototype/src/app/playground/event-logger/event-logger.component.spec.ts
  pixiprototype/src/app/playground/event-logger/event-logger.component.ts
  pixiprototype/src/app/playground/playground.component.html
  pixiprototype/src/app/playground/playground.module.ts
  pixiprototype/src/environments/environment.ts
Due: azure-pipelines-1.yml, azure-pipelines.yml

Setup signalr
  backend/GamePart/Api.Game/Hubs/GameHub.cs
  backend/GamePart/Api.Game/Hubs/ObjectHub.cs
  backend/GamePart/Api.Game/Models/HubCommands/MoveObjectCommand.cs
  backend/GameServer/Startup.cs
  backend/docker-compose.yml
  pixiprototype/package-lock.json
  pixiprototype/package.json
  pixiprototype/src/app/_helpers/hub.ts
  pixiprototype/src/app/_services/game.service.ts
  pixiprototype/src/app/_services/hub.service.ts
  pixiprototype/src/app/game/game.component.ts
  pixiprototype/src/app/playground/playground.component.ts
  pixiprototype/src/environments/environment.ts
Due: azure-pipelines-1.yml, azure-pipelines.yml

websocket test
  backend/GamePart/Api.Game/Hubs/ObjectHub.cs
  backend/GamePart/Api.Game/Models/HubCommands/HubCommand.cs
  pixiprototype/src/app/_helpers/hub.spec.ts
  pixiprototype/src/app/_helpers/hub.ts
  pixiprototype/src/app/_models/hub/commands/move-object.model.ts
  pixiprototype/src/app/_models/hub/method.model.ts
  pixiprototype/src/app/_services/event.service.ts
  pixiprototype/src/app/_services/game.service.ts
  pixiprototype/src/app/_services/tool.service.spec.ts
  pixiprototype/src/app/pixi/pixi-event-manager/pixi-action-manager.ts
  pixiprototype/src/app/pixi/pixi-objects/rectangle.model.ts
  pixiprototype/src/app/pixi/pixi-structure/playground.model.ts
Due: azure-pipelines-1.yml, azure-pipelines.yml

added ids to objects
  pixiprototype/src/app/_hubs/game.hub.ts
  pixiprototype/src/app/_hubs/object.hub.spec.ts
  pixiprototype/src/app/_hubs/object.hub.ts
  pixiprototype/src/app/_models/playground/layer.model.ts
  pixiprototype/src/app/_services/event.service.ts
  pixiprototype/src/app/_services/playground.service.ts
  pixiprototype/src/app/app-routing.module.ts
  pixiprototype/src/app/game/game-routing.module.ts
  pixiprototype/src/app/game/game.component.html
  pixiprototype/src/app/game/game.component.ts
  pixiprototype/src/app/main/map/map.component.ts
  pixiprototype/src/app/pixi/pixi-event-manager/pixi-action-manager.ts
  pixiprototype/src/app/pixi/pixi-event-manager/pixi-action.model.ts
  pixiprototype/src/app/pixi/pixi-event-manager/pixi-events.enum.ts
  pixiprototype/src/app/pixi/pixi-events/object-moved.model.ts
  pixiprototype/src/app/pixi/pixi-events/object-selected.model.ts
  pixiprototype/src/app/pixi/pixi-objects/base-pixi-object.model.ts
  pixiprototype/src/app/pixi/pixi-objects/clickable-pixi-object.model.ts
  pixiprototype/src/app/pixi/pixi-objects/rectangle.model.ts
  pixiprototype/src/app/pixi/pixi-structure/layer.model.ts
  pixiprototype/src/app/pixi/pixi-structure/playground.model.ts
  pixiprototype/src/app/pixi/tools/draw-shape-tool/draw-shape-tool.model.ts
  pixiprototype/src/app/pixi/tools/fog-of-war-tool/fog-of-war-tool.ts
  pixiprototype/src/app/pixi/tools/move-tool/gizmo-action.ts
  pixiprototype/src/app/pixi/tools/move-tool/move-tool.ts
  pixiprototype/src/app/playground/event-logger/event-logger.component.ts
  pixiprototype/src/app/playground/playground.component.ts
  pixiprototype/src/app/playground/tools/tools.component.ts
Due: azure-pipelines.yml

Object can be moved over websockets
  backend/GamePart/Api.Game/Hubs/ObjectHub.cs
  backend/GamePart/Api.Game/Models/HubCommands/MoveObject.cs
  backend/GamePart/Api.Game/Models/HubEvents/HubEvent.cs
  backend/GamePart/Api.Game/Models/HubEvents/ObjectMoved.cs
  pixiprototype/src/app/_hubs/base-hub.ts
  pixiprototype/src/app/_hubs/game.hub.ts
  pixiprototype/src/app/_hubs/hub-commands.ts
  pixiprototype/src/app/_hubs/hub-events.ts
  pixiprototype/src/app/_hubs/object.hub.spec.ts
  pixiprototype/src/app/_hubs/object.hub.ts
  pixiprototype/src/app/_hubs/object/object-hub-listener.ts
  pixiprototype/src/app/_hubs/object/object.hub.spec.ts
  pixiprototype/src/app/_hubs/object/object.hub.ts
  pixiprototype/src/app/_models/hub/events/object-moved.model.ts
  pixiprototype/src/app/_services/game/event.service.ts
  pixiprototype/src/app/_services/game/playground.service.ts
  pixiprototype/src/app/_services/game/tool.service.spec.ts
  pixiprototype/src/app/_services/game/tool.service.ts
  pixiprototype/src/app/game/game.component.ts
  pixiprototype/src/app/main/main.component.html
  pixiprototype/src/app/main/main.component.ts
  pixiprototype/src/app/pixi/pixi-objects/base-pixi-object.model.ts
  pixiprototype/src/app/pixi/pixi-structure/layer.model.spec.ts
  pixiprototype/src/app/pixi/pixi-structure/layer.model.ts
  pixiprototype/src/app/pixi/pixi-structure/playground.model.ts
  pixiprototype/src/app/playground/event-logger/event-logger.component.ts
  pixiprototype/src/app/playground/playground.component.ts
  pixiprototype/src/app/playground/tools/tools.component.ts
Due: azure-pipelines-1.yml, azure-pipelines.yml

cors fix?
  backend/GameServer/Startup.cs
Due: azure-pipelines-1.yml

cors test 2
  backend/GameServer/Startup.cs
Due: azure-pipelines-1.yml

cors fix 3?
  backend/GameServer/Startup.cs
Due: azure-pipelines-1.yml

cors fix 4?
  backend/GameServer/Startup.cs
  pixiprototype/src/app/_services/hub.service.ts
Due: azure-pipelines-1.yml, azure-pipelines.yml

Cors fix 5
  backend/GameServer/Startup.cs
  pixiprototype/src/environments/environment.ts
Due: azure-pipelines-1.yml, azure-pipelines.yml

logging
  backend/GameServer/GameServer.csproj
  backend/GameServer/Program.cs
  backend/GameServer/appsettings.json
  backend/GameServer/nlog.config
Due: azure-pipelines-1.yml
